body{
    margin: 0;
    background-color: #FFFFFF;
}

.srodek{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.left, .middle, .right{
    background-color: black;
    width: 350px;
    height: 400px;
    margin: 10px;
    display: inline-block;
}

.place{
    width: 310px;
    height: 310px;
    background-color: #FFFFFF;
    margin: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.napis{
    color: #FFFFFF;
    width: 100%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.droga_z_pierwszenstwem{
    transform: rotate(45deg);
}

.wewn{
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
}

.zewn{
    width: 150px;
    height: 150px;
    background-color: white;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.nakaz_jazdy_prosto{
    width: 223px;
    height: 223px;
    border-radius: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.strzalka{
    font-size: 225px;
    margin-bottom: 25px;
}

.triangle1 {
    --r:7px;
  
    width: 223px;
    aspect-ratio: 1/cos(30deg);
    --_g:calc(tan(60deg)*var(--r)) top var(--r),#000 98%,#0000 101%;
    -webkit-mask:
      conic-gradient(from 150deg at 50% calc(3*var(--r)/2 - 100%),#000 60deg,#0000 0)
       0 0/100% calc(100% - 3*var(--r)/2) no-repeat,
      radial-gradient(var(--r) at 50% calc(100% - 2*var(--r)),#000 98%,#0000 101%),
      radial-gradient(var(--r) at left  var(--_g)),
      radial-gradient(var(--r) at right var(--_g));
    clip-path: polygon(50% 100%,100% 0,0 0);
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle2 {
    --r:7px;
  
    width: 223px;
    aspect-ratio: 1/cos(30deg);
    --_g:calc(tan(60deg)*var(--r)) top var(--r),#000 98%,#0000 101%;
    -webkit-mask:
      conic-gradient(from 150deg at 50% calc(3*var(--r)/2 - 100%),#000 60deg,#0000 0)
       0 0/100% calc(100% - 3*var(--r)/2) no-repeat,
      radial-gradient(var(--r) at 50% calc(100% - 2*var(--r)),#000 98%,#0000 101%),
      radial-gradient(var(--r) at left  var(--_g)),
      radial-gradient(var(--r) at right var(--_g));
    clip-path: polygon(50% 100%,100% 0,0 0);
    background: yellow;
    transform: scale(0.9);
    margin-bottom: 3px;
}
